* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  background-color: lightblue;
  margin: auto;
}

header {
  text-align: center;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
}

header ul li a:hover {
  background-color: #B3E5FC;
}

footer {
  padding-top: 50px;
}

footer img {
  max-width: 100%;
}

main {
  background-color: red;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 200px;
  width: 300px;
  margin: 10px;
  background-color: tomato;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

