* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  text-align: center;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
}

header ul li a:hover {
  background-color: #B3E5FC;
}

footer {
  padding-top: 50px;
}

footer img {
  max-width: 100%;
}

